$background1: white;
$background2: #ffe7d2;

$mainColor: #58402c;

$fontSize1: 50px;
$fontSize2: 26px;
$fontSize3: 22px;
$fontSize4: 18px;
$fontSize5: 14px;

@mixin my-flex-between {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin my-flex-around {

  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin my-flex-column {

  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin marginAuto {

  width: 80%;
  margin: auto;
}
