footer {

  background-color: $background1;
  margin-top: 50px;
  margin-bottom: 30px;

  @include my-flex-around;

  .list-container {

    display: flex;
    flex-wrap: wrap;

    @media all and(max-width: $phone) {

      display: block;
    }

    ul {

      list-style: none;
      padding: 20px;

      h4, li {

        margin-bottom: 10px;
      }
    }
  }

  p {

    font-size: $fontSize4;
    font-weight: bold;
    width: 23%;

    @media all and(max-width: $phone) {

      display: none;
    }
  }

  img {

    width: 5%;

    @media all and(max-width: $phone) {

      display: none;
    }
  }
}
