.main-container {

  @include my-flex-column;

  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;

  .wrapper-white {

    background-color: $background1;
    margin-top: 40px;

    .margin-cont {

      padding-bottom: 30px;
      @include my-flex-between;
      @include marginAuto;

      .text-container {

        width: 47%;

        @media all and(max-width: $phone) {

          width: 100%;
        }

        h1 {

          font-size: $fontSize1;
          font-weight: bold;

          @media all and(max-width: $phone) {

            max-width: 100%;
            font-size: $fontSize6;
          }
        }

        p {

          font-size: $fontSize3;
          margin-top: 30px;
          line-height: 1.5;

          @media all and(max-width: $phone) {

            font-size: $fontSize7;
          }
        }

        h3 {

          font-size: $fontSize2;

          @media all and(max-width: $phone) {

            font-size: $fontSize6;
          }
        }

        img {

          max-width: 50%;
          margin-top: 30px;
        }
      }

      img {

        max-width: 570px;

        @media all and(max-width: $phone) {

          max-width: 200px;
          margin-top: 0;
        }
      }
    }
  }

  .wrapper-orange {

    background-color: $background2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .margin-cont {

      @include my-flex-column;
      @include marginAuto;

      h2 {

        font-size: $fontSize3;
        margin-top: 30px;
        margin-bottom: 30px;

        @media all and(max-width: $phone) {

          font-size: $fontSize6;
        }
      }

      .imgs-cont{

        @include my-flex-around;

        margin-top: 40px;

        .single-img-cont {

          @include my-flex-column;

          img {

            max-width: 30%;

            @media all and(max-width: $phone) {

              max-width: 70%;
            }
          }

          p {

            font-size: $fontSize4;
            max-width: 50%;
            margin-top: 20px;
            text-align: center;

            @media all and(max-width: $phone) {

              font-size: $fontSize7;
            }
          }
        }
      }

      img {

        max-width: 30%;
        margin-top: 40px;
      }

      h1 {

        font-size: $fontSize1;
        max-width: 50%;
        margin-bottom: 20px;

        @media all and(max-width: $phone) {

          font-size: $fontSize6;
        }
      }

      .blockquote {

        border-radius: 5px;
        background-color: $background1;
        width: 50%;
        padding: 20px;

        p {

          line-height: 2;

          @media all and(max-width: $phone) {

            font-size: $fontSize7;
          }
        }
      }
    }
  }
}
