@media all and(max-width: 768px) {

  h1, h2, h3 {

    font-size: $fontSize6 !important;
  }

  p {

    font-size: $fontSize7 !important;
  }

  .nav-right {

    display: none !important;
  }

  .margin-cont {

    img{

      max-width: 200px !important;
      margin-top: 0 !important;
    }

    h1 {

      max-width: 100% !important;
    }
  }

  .text-container {

    width: 100% !important;
  }

  .single-img-cont {

    img {

      max-width: 70% !important;
    }
  }

  footer {

    img, p {

      display: none !important;
    }

    .list-container {

      display: block !important;
    }
  }
}
